/*===========================
HARRISON ACCESSORIES
MAIN STYLESHEET
============================*/

/* Rset */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}


/* General Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b0b;
    color: #f5f5f5;
    line-height: 1.7;
}

/* Header */
header{
    background: #111111;
    padding: 25px 8%;
    border-bottom: 1px solid #b08d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Business Name */
header h1{
    color: #d4af37;
    font-size: 28px;
    letter-spacing: 1px;
}

/* Navigation */
nav{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover{
    color: #d4af37;
}

/* Main Content */
main{
    max-width: 1200px;
    margin: auto;
    padding: 70px 8%;

}
/* Section */
section{
    margin-bottom: 70px;
}

/* Main Heading */
h2{
    color: #d4af37;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Smaller Headings */
h3{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 12px;
}
/* Paragraphs */
p{
    color: #cccccc;
    margin-bottom: 15px;
}

/* Links / Button */
a{
    transition: 0.3s;
}

main a{
    display: inline-block;
    background: #d4af37;
    padding: 12px 22px;
    margin: 8px 5px 8px 0;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    background: #ffffff;
    color: #111111;
    transform: translateY(-2px)
}

/* Cards / Service Areas */
section >div {
    background: #151515;
    border: 1px solid #292929;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
}

section > div:hover{
    border-color: #d4af37;
    tranform: translateY(-4px);
}

/* Lists */
ul{
    margin-left: 25px;
    color: #cccccc;
}

li{
    margin-bottom: 10px;
}

/* Froms */
form{
    max-width: 650px;
}
label{
    color: #d4af37;
    font-weight: bold;
}
input, textarea {
    width: 100px;
    padding: 14px;
    margin-top: 7px;
    background: #151515;
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px;
    outline: none;
}
input:focus, textarea:focus{
    border-color: #d4af37;
}